@model Zavrsni.Models.Course
@using Microsoft.AspNetCore.Authentication
@using System.Security.Claims
@{
    var isStudent = User.HasClaim("Role", "Student");
    var isAdmin = User.HasClaim("Role", "Admin");
    var isTeacher = User.HasClaim("Role", "Teacher");

  
}
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
<h1>Kreiraj novi kurs</h1>

<h4>Informacije:</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Naziv:</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
           
               <div class="form-group">
                    <label class="control-label">Predavač</label>
                    <select asp-for="TeacherID" class="form-control" asp-items="ViewBag.TeacherID"></select>
                </div>
            
            <div class="form-group">
                <label class="control-label">Opis kursa:</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Trajanje kursa:</label>
                <input asp-for="Duration" class="form-control" placeholder="u časovima" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Cena:</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger" placeholder="u dinarima"></span>
            </div>
            <div class="form-group">
                    <input type="submit" value="Sačuvaj" class="tbutton" />
            </div>
        </form>
    </div>
</div>

    @if (isAdmin)
    {
        <div>
           <a class="tbutton" asp-action="Index">Nazad na listu</a>
        </div>
    }
    @if (isTeacher)
    {
        var email = User.FindFirstValue(ClaimTypes.Email).ToString();
        <a class="tbutton" asp-action="TeacherCourses" asp-route-email="@email">Nazad na listu</a>
    }
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
