@{
    ViewData["Title"] = "Home Page";
}

<div class="row">

    <img src="~/homestart.png" alt="Zelis da naucis o biznisu? BizUp platforma online kurseva je pravo mesto za tebe!">

</div>
<div class="row">

    <img src="~/bar.png" alt="• Marketing • Menadžment • Društvene mreže • Brend identitet • Brend dizajn • Ljudski resursi • Finansije •">

</div>
<div class="row">

    <img src="~/ONama.png" alt="Ovde možeš pročitati informacije o platformi.">

</div>