@model Zavrsni.Models.Admin

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
<h1>Kreiraj admina:</h1>

<h4>Admin</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AdminID" class="control-label"></label>
                <select asp-for="AdminID" class ="form-control" asp-items="ViewBag.AdminID"></select>
            </div>
            <div class="form-group">
                    <input class="subbutton" type="submit" value="Kreiraj" />
            </div>
        </form>
    </div>
</div>

<div>
        <a class ="tbutton" asp-action="Index">Nazad na listu</a>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
