@model Zavrsni.Models.Teacher

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
<h1>Izmeni</h1>

<h4>Predavač</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TeacherID" />
            <div class="form-group">
                <label class="control-label">Opis predavača</label>
                <input asp-for="Introduction" class="form-control" />
                <span asp-validation-for="Introduction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Uloga</label>
                <input asp-for="Role" class="form-control" />
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sačuvaj izmene" class="subbutton" />
            </div>
        </form>
    </div>
</div>

<div>
        <a class="tbutton" asp-action="Index">Nazad na listu</a>
</div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
